<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <script src="/send.url.js"></script>
</head>
<body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Aplikasi daftar belanja</h2>
        <h1 class="title">LIST</h1>
        <p class="description">
          LIST dapat membuat dan mengatur daftar pembelanjaan Anda dengan mudah.
          <br>
          Tambahkan barang yang Anda inginkan kapanpun, di manapun.
        </p>
        <a href="/index" class="index-button">Lihat daftar</a>
      </div>
      <div class="top-image">
</body>
</html>