<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuliandaCode</title>
    <script src="/send.url.js"></script>
</head>
<body>
    <h1>Selamat datang di website ahmad julianda</h1>
    <a href="/beranda">Lihat Beranda</a>
</body>
</html>